#UITestPanelBox{


}
.UITestPanelBox{
    width:180px;
    height:605px;
    margin-top:120px;
    padding-left: 10px;
    background-color:#111111dd;
    border: 1px solid #111111;
    flow-children:down;
}


.UITestButton{
    width:160px;
    height: 35px;
    margin-top: 5px;

}

.LabelTestButton{
    width:180px;
    height: 35px;
    padding: 7px 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: #ffffff;
    background-color:#920000ee;
}
.LabelTestButton:hover{
    background-color: #d80000ee;
    wash-color:#ffffff;
}



