#UIBannerMsgBox{
    width:100%;

}

.UIBannerMsgBox{
    width:100%;
    height:80px;
    margin-top:60px;
    padding-left:50%;
    z-index: -1;
}

.UIBannerMsgBG{
    width:960px;
    height:100px;
    margin-left: -480px;

    flow-children:down;
}
.roundCountBox{
    width:960px;
    height:30px;
}
.roundCountValue{
    width:960px;
    height:30px;
    text-align: center;
    vertical-align: middle;
    font-size: 23px;
    color: #ffffff;
}
.timeCountBox{
    width:960px;
    height:30px;
    flow-children:right;
}

.timeCountValue{
    width:960px;
    height:30px;
    text-align: center;
    vertical-align: middle;
    font-size: 23px;
    color: #ffffff;
}