#UIContractListPanelBox{
    width:100%;
    
}
.UIContractListPanelBox{
    width:100%;
    height:502px;
    margin-top:160px;
    padding-left:50%;
}
.UIContractListPanelBg{
    width: 960px;
    height:100%;
    margin-left: -480px;
    background-color:#111111dd;
    border: 1px solid #111111;
    flow-children:down;
}

.UIContractTitlePanel{
    width: 960px;
    height:60px;
    background-color:#0e212d;
    border-bottom: 1px solid #111111;
    flow-children:right;
}
.UIContractTitleLabel{
    width: 960px;
    height:60px;
    padding: 15px 30px;
    font-size: 30px;
    color: #FF7F00;
    text-align: center;
}
/*
.UIContractListTitleCloseBtn{
    width: 60px;
    height: 60px;
    background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
    background-repeat: no-repeat;
    background-position: 12px 12px;
    background-color: #920000ee;
    wash-color:#cccccc;
    z-index: 9;
}
.UIContractListTitleCloseBtn:hover{
    background-color: #d80000ee;
    wash-color:#ffffff;
}
*/
.UIContractListPanel{
    height: 206px;
    flow-children:right;
    padding: 30px 0 0 30px;
}

.contract_img{
    width:64px;
    height:64px;
}

.contractPanel{
    width:280px;
    height:100%;
    background-color:#111111dd;
    border: 1px solid #000000;
    margin-right:30px;
    flow-children:down;
}
.contractPanel:hover{
    border: 1px solid #FF7F00;
}

.contractTopBanner{
    width:100%;
    height: 84px;
    background-color:#0e212d;
    padding:10px 10px;
    flow-children:right;
}
.contractMsg{
    width:190px;
    height: 84px;
    flow-children:down;
}
.contractName{
    width:190px;
    padding: 0px 0px 0px 10px;
    height: 30px;
    text-align: left;
    vertical-align: middle;
    font-size: 23px;
    color: #ffffff;
}




/*
.learnContractButton{
    width:100%;
    padding: 5px 0 0 0;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: #ffffff;
    background-color:#920000ee;
}

.learnContractButton:hover{
    background-color:#d80000ee;
    border: 1px solid #888888;
}
*/
.contractDescribe{
    width: 280px;
    padding: 10px;
    height: 122px;
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    color: #ffffff;
   
}

.contractButtonBox{
    width:80px;
    height:50px;
    background-color:#920000ee;
    border: 1px solid #888888;
}

.contractButtonBg{
    width:100%;
    height:60px;
    background-color:#111111dd;
    border: 1px solid #111111;
    margin-top: 30px;
    
    flow-children:right;
}
.contractButton{
    width: 100%;
    height: 38px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    padding-top:9px;
    color: #ffffff;
    background-color:#920000ee;

}

.contractButton:hover{
    background-color:#d80000ee;
    border: 1px solid #888888;
}





