#UIPlayerStatusPanelBG{
    vertical-align:top;
    horizontal-align:left;
    margin-top:50px;
    margin-left: 100px;
    z-index: 99;
}
.UIPlayerStatusPanelBG{
    width:630px;
    height:645px;
    background-color:#111111dd;
    border: 1px solid #111111;
    background-image: url("s2r://panorama/images/hud/reborn/bg_scoreboard_psd.vtex");
    box-shadow: #000000f5 0px 0px 8px 0px;
    flow-children:down;
}
.UIPlayerStatusPanelOff{
    width: 25px;
    height: 25px;
    margin-left:105px;
    margin-top:-2px;
    
}
.UIPlayerStatusPanelOff:hover{
    box-shadow: #111111f5 0px 0px 8px 0px;
}
.playerStatusTitle{
    height:32px;
    margin-bottom: 2px;
    padding-top: 10px;
}
.playerStatusTitle Label{
    font-weight: bold;
   
}
.playerStatusTitleTeam{
    font-size: 18px;
    letter-spacing: 1.5px;
    width: 60px;
    margin-left: 10px;
    color: #FFF;
    text-shadow: 0px 0px 6px 1.0 #9BE40C8F;
}
.playerStatusTitleContract{
    width: 45px;
    font-size: 16px;
    margin:3px 0 0 28px;
    color: #afd2e3;
}
.playerStatusTitleSkill{
    width: 45px;
    font-size: 16px;
    margin:3px 0 0 58px;
    color: #afd2e3;
}
.playerStatusTitleEquip{
    width: 45px;
    font-size: 16px;
    margin:3px 0 0 200px;
    color: #afd2e3;
}
.playerStatusTeam{
    flow-children:down;
}
.playerStatusTitle{
    flow-children:right;
}
.playerStatusPlayerBox{
    flow-children:right;
    width: 630px;
    height:55px;
    background-color:gradient( linear, 0% 0%, 0% 100%, from( #373C3B ), color-stop( 0.4, #505959 ), color-stop( 0.6, #505959 ), to( #2F3535 ) );
    border-top: 1px solid #5C616A;
    border-bottom: 1px solid #232323;
    margin-top: 2px;
    margin-bottom: 1px;
}
.playerStatusPlayerIcon{
    width: 68px;
    height: 38px;
    border: 1px solid #111111;
    margin: 8px 10px;
    background-color:#111111dd;
}

.playerStatusSEPanel{
    flow-children:right;
}
.playerStatusSkillPanel{
    margin-left:10px;
    flow-children:right;
}
.playerStatusEquipPanel{
    margin-left:15px;
    flow-children:right;
}
.playerStatusContract{
    width: 38px;
    height:38px;
    border: 1px solid #111111;
    margin:8px 8px;
    background-color:#111111dd;
}
.playerStatusSkill{
    width: 38px;
    height:38px;
    border: 1px solid #111111;
    margin:8px 3px;
    background-color:#111111dd;
}
.playerStatusEquip{
    width: 49px;
    height:38px;
    border: 1px solid #111111;
    margin:8px 3px;
    background-color:#111111dd;
}
