#UIShopBox{
    width:100%;
    z-index: -1;
}

.UIShopBox{
    width:100%;
    height:620px;
    margin-top:160px;
    padding-left:50%;
}

.UIShopBg{
    width: 1110px;
    height:620px;
    margin-left: -555px;
    background-color:#111111dd;
    border: 1px solid #111111;
    flow-children:down;
}

.UIShopTitlePanel{
    width: 100%;
    height:60px;
    flow-children:right;
}

.UIShopTitleTitle{
    width: 1050px;
    height:60px;
    padding: 15px 30px;
    font-size: 30px;
    background-color:#0e212d;
    border-bottom: 1px solid #111111;
    color: #FF7F00;
    text-align: center;
}


.UIShopCloseBtn{
    width: 60px;
    height: 60px;
    background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
    background-repeat: no-repeat;
    background-position: 12px 12px;
    background-color: #920000ee;
    wash-color:#cccccc;
    z-index: 9;
}
.UIShopCloseBtn:hover{
    background-color: #d80000ee;
    wash-color:#ffffff;
}

.UIShop{
    height: 223px;
    flow-children:right;
    padding: 30px 0 0 30px;
}

.shop_item_img{
    width:85px;
    height:64px;
}

.shopItemPanelBG{
    width:332px;
    height:215px;
    margin-right:30px;
    background-color:#111111dd;
    border: 1px solid #000000;
}
.shopItemPanelBG:hover{
    border: 1px solid #FF7F00;
}
.shopItemPanel{
    width:330px;
    height:213px;
    flow-children:down;
}
.shopItemPanelLabel{
    width: 100%;
    height:100%;
    font-size: 60px;
    padding-top:60px;
    text-align: center;
    color: #666;
}

.itemTopBanner{
    width:100%;
    height: 84px;
    background-color:#0e212d;
    padding:10px 10px;
    flow-children:right;
}
.itemMsg{
    width:230px;
    height: 84px;
    flow-children:down;
}
.itemName{
    width:230px;
    padding: 5px 0px 5px 5px;
    height: 30px;
    text-align: left;
    vertical-align: middle;
    font-size: 22px;
    color: #ffffff;
}
.itemCostPanel{
    flow-children:right;
}
.itemCost{
    width:210px;
    padding: 5px 10px;
    height: 30px;
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    color: #ffffff;
    
}
.goldIcon{
    width:26px;
    height:26px;
    margin: 5px 0 0 10px;
    background-image: url("s2r://panorama/images/hud/reborn/gold_small_psd.vtex");
    background-size: 100% 100%;
}

.itemDescribe{
    width: 100%;
    padding: 5px;
    height: 112px;
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    color: #ffffff;
    flow-children:right;
}



.shopButtonBg{
    width:100%;
    height:80px;
    background-color:#0e212d;
    border: 1px solid #111111;
    margin-top: 30px;

    flow-children:right;
}
.shopButton{
    width: 200px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 26px;
    padding-top: 12px;
    color: #ffffff;
    background-color:#920000ee;
    border: 1px solid #111111;
}

.shopButton:hover{
    background-color:#d80000ee;
    border: 1px solid #888888;
}

.shopLock{
    margin-left:237px;
}
.lock{
    background-color:#FF7F00;
}
.lock:hover{
    background-color:#F1710f;
}
.shopRefresh{
    margin-left:237px;
}
