#UITalentListPanelBox{
    width:100%;
    
}
.UITalentListPanelBox{
    width:100%;
    height:320px;
    margin-top:160px;
    padding-left:50%;
}
.UITalentListPanelBg{
    width: 960px;
    height:100%;
    margin-left: -480px;
    background-color:#111111dd;
    border: 1px solid #111111;
    flow-children:down;
}
.UITalentTitlePanel{
    width: 960px;
    height:60px;
    flow-children:right;
}

.UITalentListTitleLabel{
    width: 960px;
    height:60px;
    padding: 15px 30px;
    background-color:#0e212d;
    border-bottom: 1px solid #111111;
    font-size: 30px;
    color: #FF7F00;
    text-align: center;
}
/*
.UITalentListTitleCloseBtn{
    width: 60px;
    height: 60px;
    background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
    background-repeat: no-repeat;
    background-position: 12px 12px;
    background-color: #920000ee;
    wash-color:#cccccc;
    z-index: 9;
}
.UITalentListTitleCloseBtn:hover{
    background-color: #d80000ee;
    wash-color:#ffffff;
}
*/

.UITalentListPanel{
    height: 228px;
    flow-children:right;
    padding: 30px 0 0 30px;
}

.talent_img{
    width:64px;
    height:64px;
}

.talentPanel{
    width:280px;
    height:228px;
    background-color:#111111dd;
    border: 1px solid #000000;
    margin-right:30px;
    flow-children:down;
}
.talentPanel:hover{
    border: 1px solid #FF7F00;
}
.talentTopBanner{
    width:100%;
    height: 84px;
    background-color:#0e212d;
    padding:10px 10px;
    flow-children:right;
}
.talentMsg{
    width:190px;
    height: 84px;
    flow-children:down;
}
.talentName{
    width:190px;
    padding: 0px 0px 0px 10px;
    height: 30px;
    text-align: left;
    vertical-align: middle;
    font-size: 23px;
    color: #ffffff;
}



/*

.learntalentButton{
    width:100%;
    padding: 5px 0 0 0;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: #ffffff;
    background-color:#920000ee;
}

.learntalentButton:hover{
    background-color:#d80000ee;
    border: 1px solid #888888;
}
*/
.talentDescribe{
    width: 270px;
    padding: 5px;
    height: 112px;
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    color: #ffffff;
   
}
/*
.talentButtonBox{
    width:80px;
    height:50px;
    background-color:#920000ee;
    border: 1px solid #888888;
}

.talentButtonBg{
    width:100%;
    height:38px;
    background-color:#111111dd;
    border: 1px solid #111111;
    margin-top: 30px;
    
    flow-children:right;
}
.talentButton{
    width: 100%;
    height: 38px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    padding-top:9px;
    color: #ffffff;
    background-color:#920000ee;
}

.talentButton:hover{
    background-color:#d80000ee;
    border: 1px solid #888888;
}

*/



