#UITalentPanelBG{
    vertical-align:bottom;
    horizontal-align:right;
    
}
.UITalentPanelBG{
    margin-bottom: 60px;
    width:263px;
    height:85px;
    background-color:#111111dd;
    flow-children:down;
}

.UITalentPanelListBox{
    background-color:#11111199;
    width: 263px;
    height:28px;
    padding:1px;
    flow-children:right;
}

.UITalentPanelIcon{
    width:28px;
    height:28px;
}

.UITalentPanelDescribe{
    padding:6px;
    width:200px;
    height:28px; 
    font-size: 16px;
    color: #ffffff; 
}